supabase==2.5.0
fastapi==0.111.0
autoflake==2.3.1
isort==5.13.2
black==24.4.2
mypy==1.10.0
pytest==8.2.2
pytest-asyncio==0.23.7
pyjwt==2.8.0
typed-argument-parser==1.10.0
pytest-mock==3.14.0
requests==2.32.3
